<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
      input{
        
        width:98%;
        height: 100%;
        font-size: medium;
        
      }
      textarea {
        
        width: 100%;
        
      }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
